body{
    background-color: #EDF1D6;
}

.buttonPlacement{
    margin: 50%;
    padding: 14%;
}



.Title{
    height: 100px;
    width: 200px; 
   

    
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: 100px;  


    background-color: #f6faf5;
}

.Description{

    
    font-family: Baloo 2;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    text-align: center;

    height: 200px;
    width: 200px; 
    margin-top: auto;  
    background-color : #9DC08B;
    color: #000000;

   
     	
}

.Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px ;
    padding: 20px;
  }

.Tile {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #40513B;
    height: 300px;  
    width: 200px;   
    position: relative;

}



.Button{

  
    width: 172px;
    height: 42px;
    left: 72px;
    margin-top: 70px;

}



.DateInGrid{
    font-family: Baloo 2;
    font-size: 64px;
    font-weight: 400;
    line-height: 103px;
    letter-spacing: 0em;
    text-align: center; 
    color: #EDF1E6

}



