@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    font-family: 'Inconsolata', monospace;
}

body{
    background-color: #EDF1D6;
}

.buttonPlacement{
    margin: 50%;
    padding: 14%;
}


.Title{
    height: 100px;
    width: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: 100px;
    background-color: #f6faf5;
    font-family: 'Inconsolata', monospace;
}

.Description{

    
    font-family: Baloo 2;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    text-align: center;

    height: 200px;
    width: 200px; 
    margin-top: auto;  
    background-color : #9DC08B;
    color: #000000;
    font-family: 'Inconsolata', monospace;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 20px ;
    padding: 20px;
  }

.Tile {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #40513B;
    height: 300px;  
    width: 200px;   
    position: relative;
    font-family: 'Inconsolata', monospace;
}



.Button{
    width: 172px;
    height: 42px;
    left: 72px;
    margin-top: 70px;
    font-family: 'Inconsolata', monospace;
}



.DateInGrid{
    font-family: Baloo 2;
    font-size: 64px;
    font-weight: 400;
    line-height: 103px;
    letter-spacing: 0em;
    text-align: center; 
    color: #EDF1E6

}
#buttonPlacement{
    border-radius: 5px;
    color: white;
    background-color: #344230;
    outline-color: #32412f;
    margin-left: -10px;
    height: 170%;
    width: 20%;
}

#BtnBox{
    grid-row: 3;
    height: fit-content;
    text-align: center;
    color: #1a6000;
    padding: 0.75cm 0;
}

#page-container{
    display: grid;
    height: inherit;
    margin-left: 1.5%;

    grid-template-rows: auto 1fr auto;
}

#class-container{
    padding: 0.75cm 0.75cm 0;
    display: grid;
    grid-gap: 10px;
    margin-left: 2.5%;
    margin-right: 5%;
    grid-row: 2;
    grid-template-rows: fit-content(50%) fit-content(50%) auto;
    overflow: auto;
    font-family: 'Inconsolata', monospace;
}
#RemakeBox{
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Inconsolata', monospace;
}

