@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    font-family: 'Inconsolata', monospace;
}
body{

    /*background-color: #EDF1D6;*/
   

}

html{
    
    background-color: #EDF1D6;
 
  

}


.containerForDatePicker{
    background-color: #D9D9D9;
    height: 40px;
    width: 563px;
    margin-left: 28%;
    border-radius: 15px;
    margin-top: 4.5%;    
    text-align: center; 

}

.title{
    margin-top: 9%;  
    margin-left: 40%;
    font-weight: 300;
    
}

.containerForDeadline{
    background-color: #D9D9D9;
    height: 40px;
    width: 563px;
    margin-left: 28%;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;

}

.buttonCss{
    background-color: #40513B;
    color: #D9D9D9;
    margin-left: 42%;
    font-family: 'Inconsolata', monospace;

}

#buttonHs{
    border-radius: 5px;
    height: 50px;
    width: 200px;
}

.datePickerFormat{
    padding-top: 9px; 
    font-weight: 300;
   
}

.deadLineInputFormater{
    padding-top: 9px; 
    font-weight: 300;

}
